@import url(fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

body {
    width: 510px;
    text-align: center;
    float: center;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-weight: bold;
    background-color: rgb(255, 243, 196);

}

div {
    border: none;
    font-family: 'Jeju Myeongjo', sans-serif;
}

h1 {
    background-color: rgb(255, 222, 89);
    ;
    border: 2px groove white;
}

h4 {
    color: white;
    width: 150px;
    height: 23px;
    text-align: center;
    background-color: rgb(169, 142, 250);
    text-shadow: 1px 1px 2px rgb(29, 29, 29);
}

.input {
    width: 500px;
    height: 40px;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: large;
    border: 1px solid black;
    background-color: white;
}

.input2 {
    border: 1px dashed rgb(68, 68, 68);
    width: 500px;
    height: 40px;
    background-color: rgb(243, 243, 243);
}